
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.formgroup{
    width: 60px;
}
.form-label{
    width: 130px;
}
.custom-select{
position: relative;
bottom: 35px;
left: 120px;
}
.tabledata{
    cursor: pointer;
}









/* For iphone */
@media (min-width:320px) and (max-width:815px){
    
.input{
    padding-left:0;
}
.table{
    width: 335px;
font-size: 15px;
}
.assign{
    font-size: 25px!important;
}
.pagination{
    padding-left: 15px;
}
}

/* For ipad */
@media (min-width:760px)and (max-width:1020px){
    .input{
        padding-left:140px;
    }
    .table{
        padding-left:40px ;
        width: 100px;
    }
.pagination{
    padding-bottom: 20px;
}
}
